{% extends 'main_page/base_template2.html' %}

{% block title %}
    all tablets
{% endblock %}

{% block content %}

    <!--  скрипт для сайта гугл анализи  -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-104987959-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-104987959-1');
    </script> -->

    {#    <!--старт прелоадера страницы-->#}
    {#    <div class="preloader"></div>#}
    {#    <!--старт прелоадера страницы-->#}

    <!-- Bootstrap -->
    <link href="../../static/datatables/css/bootstrap.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="../../static/datatables/css/datatablestab.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../static/datatables/js/datatablestab.min.js"></script>


    <link href="../../static/inventory/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../../static/datatables/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/datatables/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/datatables/css/animate.css">
    <link rel="stylesheet" type="text/css" href="../../static/datatables/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/datatables/css/perfect-scrollbar.css">
    <link rel="stylesheet" type="text/css" href="../../static/datatables/css/util.css">
    <link rel="stylesheet" type="text/css" href="../../static/datatables/css/main.css">


    <meta name="robots" content="noindex, follow">
    <script defer="defer" referrerpolicy="origin" src="../../static/datatables/js/s"></script>
    <script nonce="c08cd345-dbfa-4ec6-8f0f-de74570296b0">(function (w, d) {
        !function (a, e, t, r) {
            a.zarazData = a.zarazData || {};
            a.zarazData.executed = [];
            a.zaraz = {deferred: []};
            a.zaraz.q = [];
            a.zaraz._f = function (e) {
                return function () {
                    var t = Array.prototype.slice.call(arguments);
                    a.zaraz.q.push({m: e, a: t})
                }
            };
            for (const e of ["track", "set", "ecommerce", "debug"]) a.zaraz[e] = a.zaraz._f(e);
            a.zaraz.init = () => {
                var t = e.getElementsByTagName(r)[0], z = e.createElement(r), n = e.getElementsByTagName("title")[0];
                n && (a.zarazData.t = e.getElementsByTagName("title")[0].text);
                a.zarazData.x = Math.random();
                a.zarazData.w = a.screen.width;
                a.zarazData.h = a.screen.height;
                a.zarazData.j = a.innerHeight;
                a.zarazData.e = a.innerWidth;
                a.zarazData.l = a.location.href;
                a.zarazData.r = e.referrer;
                a.zarazData.k = a.screen.colorDepth;
                a.zarazData.n = e.characterSet;
                a.zarazData.o = (new Date).getTimezoneOffset();
                a.zarazData.q = [];
                for (; a.zaraz.q.length;) {
                    const e = a.zaraz.q.shift();
                    a.zarazData.q.push(e)
                }
                z.defer = !0;
                for (const e of [localStorage, sessionStorage]) Object.keys(e || {}).filter((a => a.startsWith("_zaraz_"))).forEach((t => {
                    try {
                        a.zarazData["z_" + t.slice(7)] = JSON.parse(e.getItem(t))
                    } catch {
                        a.zarazData["z_" + t.slice(7)] = e.getItem(t)
                    }
                }));
                z.referrerPolicy = "origin";
                z.src = "/cdn-cgi/zaraz/s.js?z=" + btoa(encodeURIComponent(JSON.stringify(a.zarazData)));
                t.parentNode.insertBefore(z, t)
            };
            ["complete", "interactive"].includes(e.readyState) ? zaraz.init() : a.addEventListener("DOMContentLoaded", zaraz.init)
        }(w, d, 0, "script");
    })(window, document);</script></head>

    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100" id='mydata'>
                <div class="table100">
                    <table>
                        <thead>
                        <tr class="table100-head">
                            <th>m4</th>
                            <th>m3</th>
                            <th>m2</th>
                            <th>Name</th>
                            <th>model</th>
                            <th>sn</th>
                            <th>imei1</th>
                            <th>imei2</th>
                            <th>check_info</th>
                            <th>dlm</th>
                        </tr>
                        </thead>
                        <tbody>


                        {% for tablet in all_tablets %}
                            <tr>
                                {#                    <td><a class="glyphicon glyphicon-info-sign" href="{% url 'info_about_tablet' pk=tablet.pk %}"></a>#}
                                {#                    </td>#}
                                {#                    <td><a class="glyphicon glyphicon-edit" href="{% url 'edit_tablet' pk=tablet.pk %}"#}
                                {#                           role="button"></a></td>#}
                                <td> {{ tablet.m4 }}</td>
                                <td> {{ tablet.m3 }}</td>
                                <td> {{ tablet.m2 }}</td>
                                <td> {{ tablet.Name }}</td>
                                <td> {{ tablet.model }}</td>
                                <td> {{ tablet.sn }}</td>
                                <td> {{ tablet.imei1 }}</td>
                                <td> {{ tablet.imei2 }}</td>
                                <td> {{ tablet.check_info }}</td>
                                <td> {{ tablet.dlm }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    {#    <script src="../../static/datatables/js/jquery.js"></script>#}
    {#    <script src="../../static/datatables/js/bootstrap.min.js"></script>#}
    {#    <script src="../../static/datatables/js/jquery.dataTables.min.js"></script>#}
    {#    <script src="../../static/datatables/js/dataTables.bootstrap4.min.js"></script>#}
    <script src="../../static/datatables/js/jquery-3.2.1.min.js"></script>
    <script src="../../static/datatables/js/popper.js"></script>
    <script src="../../static/datatables/js/bootstrap.min.js"></script>
    <script src="../../static/datatables/js/select2.min.js"></script>
    <script src="../../static/datatables/js/main.js"></script>
    <script async="" src="../../static/datatables/js/js"></script>

    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');

    </script>
    <script defer="defer" src="../../static/datatables/js/v652eace1692a40cfa3763df669d7439c1639079717194"
            integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw=="
            data-cf-beacon="{&quot;rayId&quot;:&quot;72ba235349b277bb&quot;,&quot;token&quot;:&quot;cd0b4b3a733644fc843ef0b185f98241&quot;,&quot;version&quot;:&quot;2022.6.0&quot;,&quot;si&quot;:100}"
            crossorigin="anonymous"></script>



    <script>
        $('#mydata').dataTable()
    </script>



    <script>
        $(document).ready(function () {
            $('#example2-tab1-dt').DataTable({
                responsive: true
            });
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                $($.fn.dataTable.tables(true)).DataTable()
                    .columns.adjust()
                    .responsive.recalc();
            });
        });
    </script>







    <!--отключение прелоадера страницы-->
    <script>
        jQuery(document).ready(function ($) {
            $(window).load(function () {
                setTimeout(function () {
                    $('.preloader').fadeOut('slow', function () {
                    });
                }, 200);

            });
        });
    </script>
    <!--отключение прелоадера страницы-->


{% endblock %}